* {
    margin: 0px;
    padding: 0px;
}

p {
    margin-bottom: 5pt;
}

a {
    text-decoration: none;
}

img {
    border: 0px;
}

form {
    display: inline;
}

.userbox {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid black;
    font-size: 12pt;
}

.centerbox {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: lightblue;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 20pt;
    font-family: Verdana, sans-serif;
}

.content {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana, sans-serif;
}

.panorama-table {
    width: 100%;
    display: table;
    border: 1px dotted lightgray;
}

.panorama-row {
    display: table-row;
}

.panorama-header {
    display: table-cell;
    font-weight: bold;
    background-color: lightgray;
    padding-bottom: 3px;
}

.panorama-cell {
    display: table-cell;
    vertical-align: middle;
}

.panorama-row-odd {
}

.panorama-row-even {
    background-color: lightgray;
}

.panorama-thumbnail {
    width: 64px;
}

.panorama-actions {
    width: 110px;
}

.view-button {
    width: 64px;
    height: 32px;
    border: 1px solid black;
}

.delete-button {
    width: 32px;
    height: 32px;
    border: 1px solid black;
}

.upload-table {
    display: table;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.upload-title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.upload-row {
    display: table-row;
}

.upload-text {
    display: table-cell;
    text-align: right;
    font-weight: bold;
}

.upload-field {
    display: table-cell;
}

.upload-notice {
    border: 1px solid black;
    padding: 5px;
    background-color: darkgray;
    color: black;
    font-size: 11pt;
    width: 100px;
}
