<html>
<head>
    <title>Fotokugeln{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/fotokugeln.css"/>
</head>
<body>
<div class="centerbox">
    <div class="userbox">
        {% if user %}
            Hi {{ user }}! <a href="{{ logout_url }}">Logout</a>
        {% else %}
            <a href="{{ login_url }}">Login</a>
        {% endif %}
    </div>
    <div class="header">Fotokugeln</div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>
</html>