{% extends 'base.html' %}
{% block body %}
    {% if user %}
        <table class="panorama-table">
            <thead>
                <tr class="panorama-header">
                    <td class="td-first">Preview</td>
                    <td class="td-1">Title</td>
                    <td class="td-2">Status</td>
                    <td class="td-last"></td>
                </tr>
            </thead>
            <tbody>
                {% for pano in panorama_list %}
                <tr class="panorama-row {% cycle tr-odd,tr-even %}">
                    <td class="td-first">
                        <a href="/pano/raw/{{ pano.key }}">
                            {% if pano.thumbnail %}
                                <img src="/pano/thumbnail/{{ pano.key }}"/>
                            {% else %}
                                <img src="/static/no_thumb.png"/>
                            {% endif %}
                        </a>
                    </td>
                    <td class="td-1">{{ pano.title }}</td>
                    <td class="td-2">
                        {{ pano.statusDescription }}
                        {% if pano.statusText %}
                            ({{ pano.statusText }})
                        {% endif %}
                    </td>
                    <td class="td-last">
                        <form method="get" action="/pano/view/{{ pano.key }}">
                            <input class="view-btn button" type="submit" title="View Pano as KML" value="View" {% if not pano.live %}disabled="disabled"{% endif %} />
                        </form>
                        <form method="get" action="/pano/delete/{{ pano.key }}">
                            <input class="delete-btn button" type="submit" title="Delete Pano" value="Delete" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="panorama-upload">
             <form method="post" action="{{ upload_url }}" enctype="multipart/form-data">
                 <fieldset>
                     <legend>Upload new panorama to Fotokugeln:</legend>
                     <label for="title">Title: </label><input type="text" name="title"/>
                     <br />
                     <label for="rawImage">Panorama image: </label><input type="file" name="rawImage"/>
                     <br />
                     <input type="submit" class="upload-btn button" value="Upload"/>
                     <p class="upload-notice info">
                         Maximum file size is 30 MB.<br /><br />
                         Panorama images need to have dimensions which are powers of two,
                         where the width is twice the height.<br /><br />
                         Minimum image size is 1024 by 512 pixels, maximum size is 8192 by 4096 pixels.
                     </p>
                 </fieldset>
             </form>
        </div>

    {% else %}
        Giving your panoramas a spherical home in Google Earth&trade;!
    {% endif %}
{% endblock %}
