{% extends 'base.html' %}
{% block body %}
    {% if user %}
        <div class="panorama-table">
            <div class="panorama-row">
                <div class="panorama-header panorama-thumbnail"></div>
                <div class="panorama-header">Title</div>
                <div class="panorama-header">Status</div>
                <div class="panorama-header"></div>
            </div>
            {% for pano in panorama_list %}
                <div class="panorama-row {% cycle panorama-row-odd,panorama-row-even %}">
                    <div class="panorama-cell panorama-thumbnail">
                        <a href="/pano/raw/{{ pano.key }}">
                            {% if pano.thumbnail %}
                                <img src="/pano/thumbnail/{{ pano.key }}"/>
                            {% else %}
                                <img src="/static/no_thumb.png"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="panorama-cell">
                        {{ pano.title }}
                    </div>
                    <div class="panorama-cell">
                        {{ pano.statusDescription }}
                        {% if pano.statusText %}
                            ({{ pano.statusText }})
                        {% endif %}
                    </div>
                    <div class="panorama-cell panorama-actions">
                        <form method="get" action="/pano/view/{{ pano.key }}">
                            <input class="view-button" type="submit" value="View" {% if not pano.live %}disabled="disabled"{% endif %} />
                        </form>
                        <form method="get" action="/pano/delete/{{ pano.key }}">
                            <input class="delete-button" type="submit" value="X" />
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form method="post" action="{{ upload_url }}" enctype="multipart/form-data">
            <div class="upload-table">
                <div class="upload-title">
                    Upload new panorama to Fotokugeln:
                </div>
                <div class="upload-row">
                    <div class="upload-text"><label for="title">Title:</label></div>
                    <div class="upload-field"><input type="text" name="title"/></div>
                </div>
                <div class="upload-row">
                    <div class="upload-text"><label for="rawImage">Panorama image:</label></div>
                    <div class="upload-field"><input type="file" name="rawImage"></div>
                </div>
                <div class="upload-row">
                    <div class="upload-text"></div>
                    <div class="upload-field upload-notice">
                        <p>Maximum file size is 30MiB.</p>
                        <p>Panorama images need to have dimensions which are powers of two,
                            where the width is twice the height.</p>
                        <p>Minimum image size is 1024 by 512 pixels, maximum size is 8192 by 4096 pixels.</p>
                    </div>
                </div>
                <div class="upload-row">
                    <div class="upload-text"></div>
                    <div class="upload-field"><input type="submit" value="Upload"/></div>
                </div>
            </div>
        </form>
    {% else %}
        Giving your panoramas a spherical home in Google Earth&trade;!
    {% endif %}
{% endblock %}
